@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

$bg: #f2f2f2;
$primary-color: #222;
$link-color: #03a9f4;
$sans: 'PT Sans', sans-serif;
$serif: 'PT Serif', serif;
$break: 600px;

html,
body {
    font-size: 100%;
    color: #000;
}

body {
    font-family: $sans;
    font-weight: 400;
    line-height: 1.65;
    color: $primary-color;
    background-color: $bg;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: $serif;
    font-weight: 400;
    line-height: 1.15;
    color: $primary-color;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {font-size: 3.157em;}

h3 {font-size: 2.369em;}

h4 {font-size: 1.777em;}

h5 {font-size: 1.333em;}

small, .text_small {font-size: 0.75em;}


a {
    color: $link-color;
    text-decoration: none;
    padding-bottom: 3px;
    &:hover {
        border-bottom: 2px solid;
    }
}


.header {
    padding-top: 20%;
    text-align: center;

    &__menu {
        margin: 0;
        font-family: $sans;
        font-weight: 700;
        width: 100%;

        span {
            margin: 0 0.5em;
        }
    }

    h1 {
        font-size: 3.157em;
        margin-bottom: 0.15em;
        color: $primary-color;
        @media (min-width: $break) {
            font-size: 4.6em;
        }
    }

    h2 {
        font-size: 1.2em;
        color: $primary-color;
        margin: 0 0 2em;

        @media (min-width: $break) {
            font-size: 1.5em;
        }
    }
}
